.navbar-brand img {
    width: 2.5em;
}

.header {
    background-color: white!important;
}

.navbar {
    width: 80%;
    justify-content: center;
    background-color: white!important;
}


.nav-item a {
    padding: 8px 12px 8px 12px!important;
}

/* .navbar-nav {
    margin-left: 16px!important;
} */

.navbar-brand {
    margin-left: 25px!important;
}

.banner {
    background-color: #f1f1f1;
}

.btn {
    border-color: #a26f59!important;
}

.card-img-top {
    width: 65% !important;
    margin: auto;
    padding: 2em 0;
}

.card {
    /* border: none !important; */
    margin: 2.5em !important;
}

.quote {
    background-color: #596322;
    color: white;
}

.quote span {
    font-weight: 700;
}

.heading-line {
    height: 3px;
    width: 200px;
    background-color: #596322;
}

.maps {
    width: 100%; 
    min-height: 450px; 
    height: 100%;
}

.footer img {
    width: 20em;
}

h6 {
    margin-bottom: 0!important;
}

.img-back {
    width: 94rem;
}

body {
    background-color: rgb(236, 236, 236);
}

.list-item {
    list-style: none;
}

.img-name {
    width: 32px;
}

.a-text {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.span-text {
    margin-top: 0!important;
    margin-bottom: 1px;
}

.fa-brands {
    width: 32px;
}

@media (min-width: 1000px) {
    .section-back{
        margin: auto;
        width: 35%;
    }
}